<p>
 <strong><u>Issue:</u></strong>
 <%= extra.issue %>
</p>

<p>
 <strong><u>last appointment:</u></strong>
 <%= extra.current_date %>
</p>

<p>
 <strong><u>Resolution:</u></strong>
 <%= extra.resolution %>
</p>

<p>
 <strong><u>Next appointment:</u></strong>
 <%= extra.next_appointment %>
</p>
<p><%= image_tag extra.image.url(:medium) %></p>

<p>
<%= link_to 'Destroy Extra', [extra.user, extra],
 method: :delete,
 data: { confirm: 'Are you sure?' } %>
 </p>